* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
.wrapper {
    height: 100vh;
    background-color: #B91450;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 70%;
    margin: 0 auto;
}

/* HEADER */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}

.title {
    color: white;
    text-transform: uppercase;
}


/* MAIN */

.main-top {
    background-color: white;
    border-radius: 20px;
    margin-bottom: 50px;
}

.request {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.request label{
    display: block;
    text-align: center;
    font-size: 20px;
    color: #B91450;
    padding: 10px 0;
}

.request input {
    border: 1px solid #B91450;
    padding: 5px;
    border-radius: 5px;
}

.request select {
    border: 1px solid #B91450;
    padding: 5px;
    border-radius: 5px;

}

.request input:focus, select:focus {
    background-color: #B91450;
    color: white;
    border: 1px solid black;
}

.submit {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    margin: 0 auto;
    padding: 50px;
}

.submit button {
    background-color: #CCCCCC;
    color: #B91450;
    font-size: 20px;
    border-radius: 5px;
    padding: 10px;
}

.submit button:hover {
    border: 2px solid #8A2BE2;
    cursor: pointer;
}

.main-bottom {
    display: none;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.box-content {
    background-color: white;
    padding: 20px;
}

.box-content h3 {
    font-size: 30px;
    padding-bottom: 5px;
}

.ticket {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.ticket h3 {
    font-size: 25px;
    padding-bottom: 20px;
    margin-left: 5px;
}

.ticket #passeggero {
    padding: 20px;
}

.ticket #nome_passeggero {
    font-size: 25px;
    padding-bottom: 5px;
    margin-left: 5px;
}

.info {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.info h4 {
    padding-bottom: 30px;
    font-size: 20px;
}

.info p {
    font-size: 18px;
}


/* DEBUG */

/* .debug .wrapper {
    background-color: #B91450;
} */

/* .debug header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
} */

/* .debug .title {
    color: white;
} */

/* .debug main {
    height: 800px;
} */

/* .debug .main-top {
    background-color: white;
    border-radius: 20px;
} */

/* .debug .main-bottom {
    height: 50%;
    background-color: burlywood;
    display: none;
} */