* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
body{
    font-family: 'Roboto', sans-serif;
    background-color: #B91450;
    height: 100vh;
}


/* HEADER */

header h1 {
    width: 50%;
    color: white;
}

#logo {
    width: 50%;
    padding: 50px;
}

#logo img {
    width: 100%;
}

/* MAIN */

main label {
    font-size: 20px;
    color:#B91450;
    padding: 30px 0;
    font-weight: bold;
}

main input,
select {
    border: 1px solid #B91450;
    border-radius: 5px;
    padding: 5px;
}

main input:focus, select:focus {
    background-color: #B91450;
    color: white;
}

:focus::placeholder{
    color: white;
}

main button {
    padding: 10px;
    background-color: white;
    color: #B91450;
    font-size: 20px;
    border: 1px solid #B91450;
}

